.text{
    color: white;
    font-size: 18px;
    font-weight: 400;
    height: 20px;
    text-align: center;
    margin: 32px auto;
}

.lang__icon{
    color: white;
    margin: 0 12px;
    transition: all .3s ease;
    text-decoration: none;

    animation-name: appear;
    animation-duration: 3s;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column{
    display: flex;
    flex-direction: column;
}

.languages__wrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 8px;
    width: 90%;
    max-width: 900px;

    margin: 22px auto;

    p{
        color: white;
        text-align: left;
    }
}

.languages__row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    div.lang__icon{
        cursor: default;
    }

    .lang__icon{
        width: auto;
        min-width: 40px;
        padding: 8px;
        height: 20px;
        text-align: center;
        border-radius: 4px;

        font-size: 14px;

        &.learning{
            cursor: help;
        }

        &.php{
            &:hover{
                background-color: white;
                color: #7377ad;
                font-weight: bold;
            }
        }

        &.js{
            &:hover{
                background-color: white;
                color: #ebd41c;
                font-weight: bold;
            }
        }

        &.css{
            &:hover{
                color: #C1627F;
                background-color: white;
                font-weight: bold;
            }
        }

        &.html{
            &:hover{
                color: #e56028;
                background-color: white;
                font-weight: bold;
            }
        }
    }
}

.languages-card{
    margin: 12px auto;

    p.title{
        text-align: center;
    }
}

.frameworks__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid white;
    border-radius: 8px;
    width: 90%;
    max-width: 900px;

    margin: 22px auto;

    .headline{
        color: white;
        font-size: 18px;
        font-weight: 400;
        height: 20px;
        text-align: center;
        margin: 32px auto;
    }

    .frameworks__row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 12px auto;

        .single-framework{
            text-decoration: none;
            margin: 12px 24px;
            color: white;
        }
    }
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}