.about__container{
    display: block;
    min-height: 100vh;

    .items{
        display: flex;
        height: auto;
        max-width: 600px;
        flex-wrap: wrap;
        justify-content: center;

        .item{
            flex: 0 0 200px;
            height: 200px;
            border: 1px solid white;
            margin: 8px;
            transition: all .3s ease;

            &:hover{
                background: white;

                p{
                    color: black;
                }
            }

            p{
                color: white;
                text-align: center;
                line-height: 200px;
                margin: 0 auto;
                transition: all .3s ease;
            }
        }
    }

}