.container {
    height: calc(100vh - 10px);

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 2rem;
    color: white;
    // background: linear-gradient(45deg, #040D12, #183D3D, #5C8374, #93B1A6);
    background-size: 400% 400%;
    // animation: gradientLoop 16s infinite ease-in-out;

    border: 1px solid transparent;
    // border-radius: 8px;

    @keyframes gradientLoop {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

.start-point {

    .start {
        text-align: center;

        .word-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
          }
          
        .word {
            transition: transform 1s, opacity 1s;  /* Transition for both transform and opacity */
        }

        .cursor {
            font-weight: 300;
            color: white;
            animation: blink 0.8s step-start infinite;  /* Blinking effect */
        }

        @keyframes blink {
            50% {
                opacity: 0;
            }
        }

    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 16px;

        .action {
            display: block;
            border-radius: 8px;
            border: 2px solid white;
            min-width: 235px;

            cursor: pointer;

            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-size: 0.8em;
            padding: 8px 14px;
            margin: 0 8px;
            font-weight: 300;
            text-align: center;

            margin-bottom: 16px;

            transition: all 0.5s ease;

            &:hover {
                cursor: pointer;
            }

            &.about{
                border-color: var(--color2);

                &:hover{
                    background-color: var(--color2);
                    color: var(--color1);
                }
            }

            &.casestudy{
                border-color: var(--color3);

                &:hover{
                    background-color: var(--color3);
                    color: var(--color1);
                }
            }

            &.contact{
                border-color: var(--color4);

                &:hover{
                    background-color: var(--color4);
                    color: var(--color1);
                }
            }
        }
    }

}

.reset{
    margin-top: 16px;
    text-align: center;
    border: 1px solid white;

    cursor: pointer;

    border-radius: 8px;
    text-transform: uppercase;

    font-size: 0.8em;
    padding: 8px 14px;

    font-weight: 300;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    transition: all 0.5s ease;

    &:hover{
        background: white;
        color: var(--color1);
    }
}
