.container {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    user-select: none;

    .items{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 2rem;
        color: white;
        min-height: 100vh;
        // background-color: rgba($color: #000000, $alpha: 0.2);

        .start-point {

            .start {
                text-align: center;
        
                .word-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                  }
                  
                .word {
                    transition: transform 1s, opacity 1s;  /* Transition for both transform and opacity */
                }
        
                .cursor {
                    font-weight: 300;
                    color: white;
                    animation: blink 0.8s step-start infinite;  /* Blinking effect */
                }
        
                @keyframes blink {
                    50% {
                        opacity: 0;
                    }
                }
        
            }
        
            .actions {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                margin-top: 16px;
        
                .action {
                    display: block;
                    border: 2px solid white;
                    min-width: 235px;
        
                    cursor: pointer;
        
                    text-transform: uppercase;
                    letter-spacing: 0.2em;
                    font-size: 0.8em;
                    padding: 8px 14px;
                    margin: 0 8px;
                    font-weight: 300;
                    text-align: center;
        
                    margin-bottom: 16px;
        
                    transition: all 0.5s ease;
        
                    &:hover {
                        cursor: pointer;
                    }
        
                    &.about{
                        border-color: white;
        
                        &:hover{
                            background-color: white;
                            color: var(--color1);
                        }
                    }
        
                    &.casestudy{
                        border-color: white;
        
                        &:hover{
                            background-color: white;
                            color: var(--color1);
                        }
                    }
        
                    &.contact{
                        border-color: white;
        
                        &:hover{
                            background-color: white;
                            color: var(--color1);
                        }
                    }
                }
            }
        
        }
        
        .reset{
            margin-top: 16px;
            text-align: center;
            border: 1px solid white;
        
            cursor: pointer;
        
            text-transform: uppercase;
        
            font-size: 0.8em;
            letter-spacing: 0.2em;
            padding: 8px 14px;
        
            font-weight: 300;
            text-align: center;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
        
            transition: all 0.5s ease;
        
            &:hover{
                background: white;
                color: var(--color1);
            }
        }
        
    }
}

