
body{
    font-family: 'Raleway', sans-serif ;
    margin: 0;
    padding: 0;
    transition: background-color 1s ease-in-out;
}

:root {
    --color1: #08090A;
    --color2: #A5AE9E;
    --color3: #8A817C;
    --color4: #BCB8B1;
}