.trailsText {
  position: relative;
  width: 100%;
  min-height: 50px;
  line-height: 50px;
  color: black;
  font-size: 4em;
  font-weight: 700;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: hidden;
  text-align: center;

}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.trailsText > div {
  padding-right: 0.05em;
  overflow: hidden;

  /* height: 100% !important; */
  line-height: calc(100%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: flex-start; */
  align-items: center;
  width: 80vw;
  height: 90%;
  padding: 24px;
  margin: auto;
  user-select: none;
  border-radius: 4px;
  
  background: rgba(255,255,255, 0.5);
}


.regularTextWrapper {
  position: relative;
  width: 100%;
  color: black;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: hidden;
}

.regularText, .smallText{
  position: relative;
  width: 100%;
  color: black;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: hidden;
  text-align: center;
}

.regularText{
  font-size: 1.8em;
  line-height: 1.5em;
  font-weight: 600;
}

.smallText{
  font-size: 1.6em;
  line-height: 1.8em;
  margin-bottom: 14px;
  font-weight: 400;
}

.link{
  color: white;
  border: 1px solid transparent;

  margin: 0 18px 8px 0;
  padding: 4px 8px;

  height: 40px;
  width: auto;
  text-align: center;

  position: relative;
  will-change: transform, opacity;
  overflow: hidden;

  transition: all .3s ease;
  border: 1px solid transparent;
  border-radius: 8px;
}

.link > img {
  display: block;
  width: auto;
  height: 100%;
  transition: all .3s ease;
}

.link:hover{
  /* color: #212121; */
  border-color: #212121;
}

.link:hover > img {
  transform: scale(1.1);
}

.breakPoint{
  margin-top: 24px;
  margin-bottom: 24px;
}

@media  (max-width: 1150px) {

  .trailsText > div{
    font-size: 0.8em !important;
    height: auto !important;
  }
}

@media  (max-width: 650px) {

  .trailsText{
    min-height: auto;
  }

  .trailsText > div{
    font-size: 0.5em !important;
    font-weight: 600;
    height: auto !important;
  }

  .regularText{
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: 600;
  }
  
  .smallText{
    font-size: 1.2em;
    line-height: 1.8em;
    margin-bottom: 14px;
    font-weight: 400;
  }

  .link{
    margin: 0 8px;
  }
}
